@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hero-yellow: rgb(255, 219, 52);
  --primary-black: rgb(33, 38, 44);
  --dark-grey: rgb(61, 70, 89);
  --primary-white: rgb(245, 245, 245);
}

body {
  margin: 0;
  background: white;
  color: var(--primary-black);
  font-family: var(--font-inter), Inter, sans-serif;
}
